<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.common.xfxj">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".app.EsimAndroidApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_xf_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_esim_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.assetinventory.AssetInventoryActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.assetinventory.NewInventoryActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.home.SettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.tagwrite.WriteTagActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".ui.tagwrite.SearchTagActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.inventorytask.InventoryTaskActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.inventorytask.InvdetialActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.assetsearch.AssetsSearchActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.assetsearch.AssetsDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.assetsearch.LocationSearchActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".utils.logger.CrashActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.home.FunctionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.identity.IdentityActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.assetrepair.AssetRepairActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.assetrepair.ChooseRepairAstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".ui.newinventory.InvAssetLocActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.newinventory.InvAssetScanActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.astlist.AssetListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".xfxj.assetinventory.XfAssetInventoryActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".xfxj.XfHomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".xfxj.XfLoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".xfxj.assetinventory.XfInvdetialActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".xfxj.assetinventory.XfInvAssetLocActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".xfxj.identity.XfIdentityActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".xfxj.identity.XfAssetsDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".xfxj.repair.XfChooseRepairAstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".xfxj.repair.XfAssetRepairActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
    </application>
</manifest>